/* Regex Generation */

.regex-generation-container {
    display: grid;
    grid-template-rows: auto 5px auto 5px auto;
    grid-template-columns: 3fr 2fr 1fr;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
}

.regex-generation-container > button, body > .regex-generation-container > input, body > .regex-generation-container > .output {
    font-size: 15px;
}

.regex-generation-container > input {
    grid-column-start: 1;
    grid-column-end: 3;
}

.regex-generation-container > .compute-button {
    grid-column-start: 4;
    grid-column-end: 4;
}

.regex-generation-container > .compute-button:focus {
    outline: none;
}

.regex-generation-container > .compute-button > .button-rocket > div > svg {
    width: 30px;
    height: 30px;
}

.regex-generation-container > #option-bar {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 5;
    margin-bottom: 5px;
}

.regex-generation-container > .output {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    background-color: var(--middle);
    color: var(--dark-0);
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
    display: grid;
    resize: vertical;
    overflow: auto;
    min-height: 100px;
}

.regex-generation-container > .output > div {
    margin-top: auto;
    margin-bottom: auto;
}

.center {
    margin-top: 5%;
    display: grid;
    font-size: 20px;
}

@media (max-width: 640px) {
    .center {
        font-size: 15px;
    }
}

.center > div {
    margin-bottom: 1%;
    text-align: center;
}

.center > .first-line {
    padding-right: 200px;
}

.center > .second-line {
    padding-left: 100px;
}

@media (max-width: 500px) {
    .center {
        font-size: 15px;
    }

    .center > .first-line {
        padding-right: 0;
    }

    .center > .second-line {
        padding-left: 0;
    }
}